/obj
/bin
/SPRAWOZDANIE.pdf
/testy.txt
/testy.xlsx
/instancja9out.txt
/Instancja9.txt
/instancja8out.txt
/Instancja8.txt
/instancja7out.txt
/Instancja7.txt
/instancja6out.txt
/Instancja6.txt
/instancja5out.txt
/Instancja5.txt
/instancja4out.txt
/Instancja4.txt
/instancja3out.txt
/Instancja3.txt
/instancja2out.txt
/Instancja2.txt
/instancja1out.txt
/Instancja1.txt
